<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Departamentos de Colombia</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Departamentos de Colombia</h1>
        <ul class="list-group">
            <% departments.forEach(department => { %>
                <li class="list-group-item">
                    <h3><%= department.name %></h3>
                    <p><%= department.description %></p>
                </li>
            <% }); %>
        </ul>
    </div>
   
</body>
</html>
